

<header>
    <a href ="/">The Polling Station</a>
    <div>
        <img src = "images/user.png" width = '50' height="50">
        <h4>Sign up/in</h4>
    </div>
    
    <hr>
    <nav>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/quiz/new">New Quiz</a></li>
            <li>About</li>
            <li>Explore</li>
            <li>Tutorial Page</li>
            <li>Contact Us</li>
            <label for = "poll-search"> Search:</label>
            <input type = "search" id=" poll-search" name="p-search">
            <button>Search Poll/Quiz</button>
        </ul>
    </nav>
        <hr>
         <h3>Every vote counts!</h3>
        <hr>
</header>


